# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Rwalk1955 project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Paid Projects\Rwalk1955 project\.idea\.idea.Rwalk1955 project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
